<h2>トップページ</h2>
<p>簡易的な掲示板のWebアプリケーション</p>

<div>
  〜開発者メモ〜<br>
  ＞実装する機能<br>
  ユーザー機能<br>
  Pageはユーザ一覧・ユーザー詳細<br>
  DB[user]はid,name,mail<br>
  コメント機能<br>
  Pageはコメント一覧ページ<br>
  DB[comment]はid,user_id,comment<br>
  コメントいいね機能<br>
  DB[comment_like]はid,user_id,comment_id<br>
  この３つがあればいいかな？
</div>

